H1,H2,H3 {FONT-FAMILY:"Times New Roman","Garamond","Serifa BT","serif"; 
		 COLOR:#000099}
H1 {FONT-WEIGHT:700; FONT-SIZE:28PX}
H2 {FONT-WEIGHT:900; FONT-SIZE:24PX}
H3 {FONT-WEIGHT:700; FONT-SIZE:19PX}

TD {FONT-WEIGHT:NORMAL; COLOR:#0066CC}
P,DIV,.COLORHEAD {FONT-FAMILY:"Times New Roman","Garamond","Serifa BT","serif"; FONT-SIZE:16PX; FONT-WEIGHT:NORMAL}	
P,DIV {COLOR:#0066CC}
.HEAD {FONT-WEIGHT:BOLD; COLOR:#333399; FONT-SIZE:16PX}
.COLORHEAD {BACKGROUND-COLOR:#660099; COLOR:#FFFF00; TEXT-INDENT:15PX; PADDING-LEFT:15PX}
.COLORBOXA {BACKGROUND-COLOR:#FFFFDD}
.COLORBOXB {BACKGROUND-COLOR:#EEFFEE}
					   
.WIDE {LINE-HEIGHT:120%}
.WIDER {LINE-HEIGHT:130%}
.WIDTHSET {MARGIN-LEFT:20PX; MARGIN-RIGHT:40PX}
.BOTSPACE {MARGIN-BOTTOM: 8PX}
.DESB {MARGIN: 10PX 10PX 10X 10PX}
.TAB,.DESI {MARGIN-LEFT:25PX; MARGIN-RIGHT:10PX}
.MATH {FONT-FAMILY:"Times New Roman","serif"; FONT-STYLE:ITALIC}
.DES,.DESI,.DESNI,.DESB,.SMALL,.INSMALL {FONT-FAMILY:"Times New Roman","Garamond","Serifa BT","serif"; 
			 	  	    		  		    FONT-SIZE:13PX; FONT-WEIGHT:NORMAL}
.DES,.DESI,.DESNI,.DESB {LINE-HEIGHT:130%}
.DES,.DESB {COLOR:#663399}
.DESI,.DESNI, {COLOR:#006699}
.SMALL {COLOR:#660099}
.LINE {TEXT-DECORATION:UNDERLINE}
.NOLINE {TEXT-DECORATION:NONE}

A:LINK {COLOR:#009933; TEXT-DECORATION:NONE}
A:VISITED {COLOR:#CC3399; TEXT-DECORATION:NONE}
A:ACTIVE {COLOR:#FF0000; TEXT-DECORATION:NONE}
A:HOVER {COLOR:#FF6600; TEXT-DECORATION:NONE}

